
/*start navbar*/
.navbar-default {
    background: #FFFFFF;
    border: none;
    position: fixed;
    width: 100%;
    height: 100px;
    border-radius: 0;
    border-bottom: 5px solid silver;
    padding-top: 30px;
    z-index: 999;
}
.navbar-default .menu {
 width: 72%;
}

.navbar-default .navbar-right {
    width: 10%;
}
.navbar-default .navbar-right img,
.img-en img
{
    width: 150px;
    margin-top: -10px;
}
.img-en {
    margin-right: 30px;
    margin-top: 10px;
}

.lang{
   font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #99969a;
    display: inline-block;
    margin-top: 17px;
}

.navbar-default .navbar-brand {
    width: 15%;
}
.navbar-default .navbar-nav > li > a {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #99969a
    display: inline-block;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #56a2c2 !important;
}
/*end navbar*/

/*start home*/
.header {
    width: 100%;
    height: 800px;
    padding-top: 100px;
    background: url("../images/back1.jpg") no-repeat center;
}
.header .info {
    text-align: center;
    margin-top: 200px;
}
.header .info h1 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-shadow: 0px 4px 0px #a4a4a4
}
.header .info h3 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #a4a4a4;
    margin-bottom: 30px;
}
.header .info .smart {
   
}
.header .info .logo {
     width: 500px;
     margin: auto;
}
/*end home*/

/* start services */
.services {
    background: url(../images/back-services.jpg) center no-repeat;
    background-size: cover;
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.services h2 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: gray;
    margin-bottom: 20px;
}
.services h2 img {
    margin: auto;
}
.services .container > p {
    width: 60%;
    margin: 0 auto 30px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}
.services .service {
    margin-bottom: 20px;
}
.services .service i {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background-color: #56a2c2;
    color: #fff;
    font-size: 90px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 20px;
}
.services .service img {
    box-shadow: 2px 2px 2px #aaaaaa, -2px -2px 2px #aaaaaa;
}
.services .service h4 {
    font-size: 20px;
    color: #4a4a4a
    font-weight: bold;
}
.services .service p {
 font-size: 16px;
    color: #605c5c;
}
/* end services */

/* start why */
.why {
    width: 100%;
    height: auto;
    background: url("../images/why3-back.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.why h2 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.why p {
    width: 60%;
    margin: 0 auto 30px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff
}
/* end why */

/* start contact us */
.contact {
    height: 400px;
}
.contact .location {
    background-color: #2e6da4;
    width: 100%;
    height: 400px;
}
.contact .info {
    width: 100%;
    height: 400px;
}
.contact .info .info-div {
   width: 100%;
    margin-bottom: 35px;
}
.contact .info .info-div i {
   float: left;
    width: 20%;
    font-size: 40px;
    color: #56a2c2;
    margin-bottom: 30px;
}
.contact .info .info-div h4 {
    font-size: 20px;
    color: gray;
    font-weight: bold;
}
.contact .info .info-div p {
    font-size: 15px;
    color: gray;
} 
.footer {
    padding: 15px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #56a2c2;
}
/* end contact us */


/* start works */
.works {
    padding-top: 80px;
    margin-bottom: 40px;
}
.works .head-work {
    width: 100%;
    height: 400px;
    background: url("../images/about-back2.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}
.works .head-work h2 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 40px 0;
    padding-top: 100px;
}
.works h3 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: gray;
    margin: 0 0 40px 0;
}
.works .work {
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 5px;
}

.works .work img{
  height: 100%;
}
.works .work .over {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .8);
    transform: scale(0);
    transition: all .5s ease-in-out;
}
.works .work .over h3 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #222;
    margin-top: 90px;
}
.works .work:hover .over {
   transform: scale(1, 1);
}

.works2 {
margin-bottom: 40px;
}
.works2  h2 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: gray;
    margin: 0 0 40px 0;
}
.works2 .work {
    margin-bottom: 20px;
    height: 250px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 3px #222222;
    overflow: hidden;
}

.works2 .work img {
    height: 100%;
    width: 100%;
    transition: all 1s ease-in-out;
}
.works2 .work:hover img {
    transform: scale(1.5);
}
/* end works */

/* start contact us */
.contactus {
    padding-top: 80px;
    margin-bottom: 50px;
}

.contactus .head-contact {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    background: url("../images/about-back2.jpg") center no-repeat;
    background-size: cover;
}
.contactus .head-contact h2 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 40px 0;
    padding-top: 100px;
}
.contactus .info h3 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Noto Kufi Arabic', sans-serif;
    text-align: left;
    margin-bottom: 30px;

}
.contactus .info .info-div {
    width: 100%;
    margin-bottom: 35px;
}
.contactus .info .info-div i {
    float: left;
    width: 15%;
    font-size: 40px;
    color: #56a2c2;
    margin-bottom: 30px;
}
.contactus .info .info-div h4 {
    font-size: 20px;
    color: gray;
    font-weight: bold;
}
.contactus .info .info-div p {
    font-size: 18px;
    color: gray;
}
.contactus .send {

}
.contactus .send h3 {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Noto Kufi Arabic', sans-serif;
    text-align: left;
    margin-bottom: 30px;
}

.contactus .send p {

}
.contactus .send .btn-form {
  float: left;
}
/* end contact us */

/* start how us */
.how-us {
    padding-top: 80px;
    margin-bottom: 50px;
}

.how-us .head-how {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    background: url("../images/about-back2.jpg") center no-repeat;
    background-size: cover;
}
.how-us .head-how h2 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 40px 0;
    padding-top: 100px;
}
.how-us .how {
    height: 350px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #aaa, -2px 1px 3px #aaa;
}
.how-us .how i {
   font-size: 50px;
    color: #56a2c2;
    margin-bottom: 15px;
}
.how-us .how h4 {
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 15px;
    font-family: 'Noto Kufi Arabic', sans-serif;
}
.how-us .how p {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 15px;
    color: gray;
    margin-bottom: 15px;
}
/* end how us */

/* start about us */
.aboutus {
    padding-top: 80px;
    margin-bottom: 50px;
}

.aboutus .head-about {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
    background: url("../images/about-back2.jpg") center no-repeat;
    background-size: cover;
}
.aboutus .head-about h2 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 40px 0;
    padding-top: 100px;
}
.aboutus .lead {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 15px;
    color: #363636;
    margin-bottom: 17px;
    margin-bottom: 20px;
}
.aboutus .about {
    height: 310px;
    padding: 10px;
    background-color: #56a2c2;
    margin-top: 40px;
    border-radius: 8px;
    border: 1px solid #2e6da4;
}
.aboutus .about i {
  font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.aboutus .about h4 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.aboutus .about p {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 15px;
    line-height: 2;
}

/* end about  us */